html {
    /* font-size: 120px; */
    height: 100%;
}
body {
font-size: 2rem;
height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul {
margin: 0 !important;
padding: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
/* font-weight: normal !important; */
}
a {
display: inline-block !important;
text-decoration: none;
font-weight: normal !important;
color: #000 !important;
}
li {
    list-style: none;
}
* {
box-sizing: border-box;
}
#page {
position: relative;
background-color: #fff;
padding: 0 3rem;
height: 100%;
}
#page #header {
/* position: relative; */
height: 4rem;
line-height: 4rem;
background-color: #fff;
border: none;
}
#page #header h1 {
    margin-top: 1rem !important;
    font-weight: normal;
    font-size: 3.2rem;
}
#page #header a {
position: absolute;
left: 0;
padding: 0;
font-family: 'MicrosoftYaHei';
color: #333;
}
.ui-content .problem {
    margin-bottom: 5rem;
}
.ui-content h5 {
    margin-bottom: 2rem !important;
    font-size: 2.4rem;
}
.ui-content .problem .img {
    width: 100%;
    height: 44rem;
    background-color: #DBEAEC;
}
.ui-content .problem .img img {
    width: 100%;
    height: 100%;
}
.ui-content .answer ul {
    margin-top: 2rem !important;
    overflow: hidden;
}
.ui-content .answer ul li {
    float: left;
    width: 7.2rem;
    height: 7.2rem;
    text-align: center;
    line-height: 7.2rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 3.4rem;
    color: #333;
    margin-right: 3rem;
    margin-bottom: 2rem;
}
button {
    position: absolute;
    left: 50%;
    top: 26rem;
    width: 18rem !important;
    height: 6rem !important;
    font-size: 2.6rem !important;
    font-weight: 300 !important;
    color: #fff !important;
    background-color: #397BE6 !important;
    border-radius: 6rem !important;
    padding: 0 !important;
    margin: 0 !important;
    transform: translateX(-50%);
    /* bottom: 8rem; */
}

/* 提交之后 */
.analysis {
    display: none;
}
.analysis span {
    display: inline-block;
}
.analysis img {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}
.analysis span {
    font-size: 2rem;
    color: #333;
}
.analysis .answers {
    padding: 3rem 0;
    border-top: 0.08rem dashed #bababa;
    margin-top: 3rem;
}
.analysis .answers span:last-child {
    font-size: 3rem;
}
.analysis .analytical {
    font-size: 1.8rem;
    color: #666;
}
.analysis .analytical p:last-child {
    text-indent: 3.5rem;
    margin-top: 1rem !important;
}

/* 简答、填空 */
textarea, input {
    text-indent: 2rem;
}
.correct, .error {
    position: relative;
}
.correct::before {
    position: absolute;
    right: -0.1rem;
    bottom: -0.8rem;
    content:'';
    display: block;
    width: 3rem;
    height: 3rem;
    background: url('../img/answer/正确.png') no-repeat;
    background-size: 100%;
    z-index: 99;
}
.error::before {
    position: absolute;
    right: -0.1rem;
    bottom: -0.8rem;
    content:'';
    display: block;
    width: 3rem;
    height: 3rem;
    background: url('../img/answer/错误.png') no-repeat;
    background-size: 100%;
    z-index: 99;
}

/* li {
    background: url('../img/answer/正确.png') no-repeat;
    background-position:40px 40px;
    z-index: -99;
} */

